.input-text {
    display:inline-block;
    font-family: inherit;
    font-size: 18px;
    padding:5px 10px;
    text-align: center;
    border-radius: 4px;
    background:#F0E9DA;
    box-shadow: 0px -4px 0px #BFB49B;
    color:#000;
}

textarea
{
    height: 150px;
}
