{
    "extends": ["stylelint-config-sass-guidelines", "stylelint-config-property-sort-order-smacss"],
    "rules": {
        "indentation": 4,
        "order/properties-alphabetical-order": null,
        "max-nesting-depth": 4
    }
}
