.clock {
    text-align: center;

    font-size: 40px;
    font-weight: bold;
    word-spacing: -20px;

    .colon {
        position: relative;
        top: -0.125em;
    }

    @include screen-small {
        font-size: 60px;
    }

    @include screen-medium {
        font-size: 80px;
    }

    @include screen-large {
        font-size: 95px;
    }
}
