.list-covers {

    padding-top: $modal-bubbles-covers-list-margins;
    padding-left: $modal-bubbles-covers-list-margins;
    box-sizing: border-box;

    .list-item-bubble-cover-row {
        &:last-of-type {
            &:after {
                content: '';
                display: block;
                height: $modal-bubbles-covers-list-margins;
            }
        }
    }

    .list-item-bubble-cover {
        position:relative;
        display:inline-block;
        vertical-align: top;
        margin-right: $modal-bubbles-covers-list-margins;
        margin-bottom: $modal-bubbles-covers-list-margins;

        cursor:pointer;
    }

    .bubble-cover-image {
        @extend %fullscreen;
        background-color: rgba(0,0,0,0.2);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
}
