.list-years
{
    
    .list-item-year {
        width:100%;
        box-sizing: border-box;
        padding-bottom: 90px;
    }

    .list-item-label
    {
        text-align: center;
        margin-bottom: 50px;
        font-size: 36px;
    }

    .list-item-content
    {
        
    }
}
